h1 ,a ,p {
    display: flex;
    justify-content: center;
    font-style: inherit;
}

a:link , a:visited {
    background-color: rgba(12, 30, 95, 0.975);
    color: rgb(255, 208, 0);
    width: 100px;
    height: 25px;
    border-radius: 65px;
    border-color: aquamarine;
    text-decoration: none;
}

a:hover{
    background-color: rgb(11, 10, 11);
}