*{
    background-color: rgb(254, 254, 238);
}
h1{
    text-align: center;
    color: rgb(22, 20, 20);
}

.rojo{
    border: 5px solid red;
}

.aqua{
    border: 5px dotted hwb(180 0% 0%);
}

.blue{
    border: 5px dashed rgb(0, 0, 255);
}

.fuchsia{
    border: 5px double #ff00ff;
}

.green{
    border: 5px groove green;
}