*{
    background-color: rgb(254, 238, 244);
}
h1{
    text-align: center;
    color: rgb(22, 20, 20);
}

.mixto{
    border-style: dashed double solid groove;
    border-width: 10px;
}
.dotted{
    border: 10px dotted blanchedalmond;
}
.dashed{
    border-style: dashed;
    border-width: 10px;
    border-color: brown;
}
.double{
    border: 10px double palevioletred;
}