.viga-regular {
  font-family: "Indie Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    background-color: #0000A0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: #0020C2;
}