table {
    width: 100%;
}
table ,tr ,th ,td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px;
}

th {
    background-color: black;
    color: whitesmoke;
}

td{
    background-color: aquamarine;
    text-align: center;
}