
table{
    width: 100%;
}

table ,tr ,th{
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

caption{
    color: #3172ae;
    font-size: 45px;
    line-height: 70px;
    font-family: "Viga" , sans-serif;
}

th{
    color: #ffffff;
    background-color: #000000;
}

tr:nth-child(even){
    background-color: #8a8a8a;
}

tr:nth-child(odd){
    background-color:#b6b6b6;
}