table ,tr ,th ,td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
}

th {
    background-color: black;
    color: whitesmoke;
}

td{
    background-color: aquamarine;
}