*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
  font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
}

.bitcount-prop-single{
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  text-align: center;
}

.tarjeta{
    border: 7px solid #C40C0C;
    background-color: #F6CE71;
    color: #CC561E;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.tarjeta2{
    border: 5px solid #000000;
    border-radius: 4px;
    border-style: dashed;
    background-color: #9929EA;
    color: #FAEB92;
    text-align: center;
    margin: 2.5px;
    padding: 14px;
}

.tarjeta3{
    border: 15px solid #A5C89E;
    border-radius: 4px;
    border-style: double;
    background-color: #D8E983;
    text-align: center;
    margin: 8px;
    padding: 5px;
}